/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
/* Corpo da página */
body {
font-family: Arial, sans-serif;
background-color: #f4f4f4;
color: #0b0a0a;
}

/* Cabeçalho */
.header {
background-color: #bb6d7a;
color: white;
padding: 10px;
text-align: center;
}

body {
    background-color: #FFC0CB;
}

h1 {
    
    margin: 120px;
    padding: 20px;
    text-align: center;
}

h2 {
     margin: 20px;
    padding: 20px;
    text-align: center;

}
    /*o p é para parágrafo centralizar ele*/
    p {
        text-align: center;
    }