/* Reset */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
    background-color: darkseagreen; /*cor do fundo*/
    font-family: Arial, Helvetica, sans-serif;
}

#geral {
    width: 900px; /*largura*/
    margin: 30px auto;
    background-color: aquamarine;
}

#bloco1, #bloco2 { /*o que fizer vai tanto pegar pra um quanto pra outro*/
    border: 3px solid black;
    padding: 20px; 
    margin-bottom: 30px;
    background-color: white;

}

img {
    width: 200px;
    border: 3px solid red;

}